@charset "utf-8";
/* CSS Document */

.MainMenu { 
	background-color:#000;
}

.MainMenu-item { 
	display:inline-block;
	height:2.5em;
}

.MainMenu-list { 
	text-align:center;
}

.MainMenu-link { 
	color:#59bae2;
	text-decoration:none;
	margin-right: 10px;
}