@charset "utf-8";
/* CSS Document */

.MainMenu { 
	background-color:#000;
	height:2.5em;
	position: fixed;
	left:0;
	right:0;
	top:0;
}

.MainMenu-item { 
	display:inline-block;
	
}

.MainMenu-list { 
	text-align:center;
	margin:0;
}

.MainMenu-link { 
	color:#59bae2;
	text-decoration:none;
	margin-right: 10px;
	line-height:2.5em;
}