@charset "utf-8";
/* CSS Document */

/****** Menu ******/

.MainMenu { 
	background-color:#000;
	height:2.5em;
	position: fixed;
	left:0;
	right:0;
	top:0;
}

.MainMenu-item { 
	display:inline-block;
	
}

.MainMenu-list { 
	text-align:center;
	margin:0;
}

.MainMenu-link { 
	color:#59bae2;
	text-decoration:none;
	margin-right: 10px;
	line-height:2.5em;
}

/************* Header ***********/

.Header { 
	margin-top:2.5em;
	background-image:url(../img/portada.jpg);
	background-repeat:no-repeat;
	background-position:center;
	background-size:cover;
	padding:2em;
	text-align:center;
}

.Header-imageContainer {
	margin:0;
}

.Header-image { 
	border:5px solid #FFFFFF;
	border-radius:50%;
	width:9.4em;
	height:9.4em;
}

.Header-name,
.Header-link { 
	color:white;
}

.Header-name {
	font-weight:lighter;	
}

.Header-link {
	font-size:1.5em;
	font-weight:bold;
	text-decoration:none;
}

/***** Profile *****/

.Profile { 
	text-align:center;
}

.Profile-title { 
	
}

.Profile-description { 

}

.Profile-link { 
	background-color:orange;
	border-radius:2em;
	text-decoration:none;
	color:white;
	padding:.5em 1em;
}

/************** Work *********/

.Work { 
	text-align:center;
}

.Work-item { 
	display:inline-block;
	margin-right:.5em;
	margin-bottom:.5em;
}

.Work-imageContainer { 
	margin:0;
}

.Work-image { 

}

.Work-description { 
	font-size:.9em;
	color:#515151;
}

/* Utilities */

.u-title { 
	border-bottom:2px dashed #00ccff;
	color:#00ccff;
	font-weight:400;
	padding-bottom:.8em;
}

.u-strong { 
	font-weight:bold;
}

.u-italic { 
	font-style:italic;
}

.u-container { 
	width:80%;
	margin:0 auto;
}